<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material" (ngSubmit)="f.form.valid && send()" #f="ngForm" action="">
            <div class="text-center">
              <!-- <img src="assets/images/auth/logo.png" alt="Mash Able"> -->
              <h1 class="text-white">INDUSUNO</h1>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Forgot Password.</h3>
                </div>
              </div>
              <hr/>
              
              <div class="form-group" [ngClass]="{ 'was-validated has-danger': !email.valid && (email.dirty || email.touched || f.submitted ) }">
                <input type="email" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                      name="email" [(ngModel)]="model.email" #email="ngModel" 
                      placeholder="Your Email Address" required>
                <span class="md-line"></span>
                <div *ngIf="email.invalid && (email.dirty || email.touched || f.submitted)" class="col-form-label">
                  <div *ngIf="email?.errors.required">Email is required</div>
                  <div *ngIf="email?.errors.email">Email must be a valid email address</div>
                </div>
              </div>
             
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Send.</button>
                </div>
              </div>
              <hr/>
              
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of -->
</section>
